In [1]:
# Import necessary modules
import pyspark
import pandas as pd
import numpy as np

# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

In [2]:
#creating an instance of the SparkContext
sc = pyspark.SparkContext()

# Verify SparkContext
print(sc)

# Print Spark version
print(sc.version)

<SparkContext master=local[*] appName=pyspark-shell>
2.4.0

In [3]:
# Create my_spark
spark = SparkSession.builder.getOrCreate()

# Print my_spark
print(spark)

<pyspark.sql.session.SparkSession object at 0x1073cb8d0>

In [4]:
# Read the data
df_flights = spark.read.csv("flights_small.csv",header=True)

In [5]:
# Add flights_df to the catalog
df_flights.createOrReplaceTempView('flights')

In [6]:
# Create the DataFrame flights
flights = spark.table("flights")

In [7]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [8]:
# get the first 10 rows of the flights table and save the result to flights10
query = "FROM flights SELECT * LIMIT 10"

# Get the first 10 rows of flights
flights10 = spark.sql(query)

# Show the results
flights10.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [9]:
####Pandafy a Spark DataFrame####

query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# Run the query
flight_counts = spark.sql(query)
flight_counts.show()

+------+----+---+
|origin|dest|  N|
+------+----+---+
|   SEA| RNO|  8|
|   SEA| DTW| 98|
|   SEA| CLE|  2|
|   SEA| LAX|450|
|   PDX| SEA|144|
|   SEA| BLI|  5|
|   PDX| IAH| 57|
|   PDX| PHX|209|
|   SEA| SLC|225|
|   SEA| SBA| 23|
|   SEA| BWI| 29|
|   PDX| IAD| 23|
|   PDX| SFO|305|
|   SEA| KOA| 40|
|   PDX| MCI| 15|
|   SEA| SJC|213|
|   SEA| ABQ| 43|
|   SEA| SAT| 18|
|   PDX| ONT| 57|
|   SEA| LAS|364|
+------+----+---+
only showing top 20 rows

In [10]:
####Put some Spark in your data####
# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("temp")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [11]:
# Read in the airports data
airports = spark.read.csv("airports.csv",header=True)

# Show the data
airports.show()

+---+--------------------+----------------+-----------------+----+---+---+
|faa|                name|             lat|              lon| alt| tz|dst|
+---+--------------------+----------------+-----------------+----+---+---+
|04G|   Lansdowne Airport|      41.1304722|      -80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|      32.4605722|      -85.6800278| 264| -5|  A|
|06C| Schaumburg Regional|      41.9893408|      -88.1012428| 801| -6|  A|
|06N|     Randall Airport|       41.431912|      -74.3915611| 523| -5|  A|
|09J|Jekyll Island Air...|      31.0744722|      -81.4277778|  11| -4|  A|
|0A9|Elizabethton Muni...|      36.3712222|      -82.1734167|1593| -4|  A|
|0G6|Williams County A...|      41.4673056|      -84.5067778| 730| -5|  A|
|0G7|Finger Lakes Regi...|      42.8835647|      -76.7812318| 492| -5|  A|
|0P2|Shoestring Aviati...|      39.7948244|      -76.6471914|1000| -5|  U|
|0S9|Jefferson County ...|      48.0538086|     -122.8106436| 108| -8|  A|
|0W3|Harford County Ai...|      39.5668378|      -76.2024028| 409| -5|  A|
|10C|  Galt Field Airport|      42.4028889|      -88.3751111| 875| -6|  U|
|17G|Port Bucyrus-Craw...|      40.7815556|      -82.9748056|1003| -5|  A|
|19A|Jackson County Ai...|      34.1758638|      -83.5615972| 951| -4|  U|
|1A3|Martin Campbell F...|      35.0158056|      -84.3468333|1789| -4|  A|
|1B9| Mansfield Municipal|      42.0001331|      -71.1967714| 122| -5|  A|
|1C9|Frazier Lake Airpark|54.0133333333333|-124.768333333333| 152| -8|  A|
|1CS|Clow Internationa...|      41.6959744|      -88.1292306| 670| -6|  U|
|1G3|  Kent State Airport|      41.1513889|      -81.4151111|1134| -4|  A|
|1OH|     Fortman Airport|      40.5553253|      -84.3866186| 885| -5|  U|
+---+--------------------+----------------+-----------------+----+---+---+
only showing top 20 rows

In [12]:
####Creating columns####
# Create the DataFrame flights
flights = spark.table("flights")

# Show the head
print(flights.show())

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

None

In [14]:
flights.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [15]:
flights=flights.select(
        flights.year.cast("float"), 
        flights.month.cast("float"), 
        flights.day.cast("float"),
        flights.dep_time.cast("float"), 
        flights.dep_delay.cast("float"), 
        flights.arr_time.cast("float"),
        flights.arr_delay.cast("float"),     
        flights.carrier, 
        flights.tailnum,
        flights.flight,
        flights.origin,
        flights.dest,
        flights.air_time.cast("float"), 
        flights.distance.cast("float"),
        flights.hour.cast("float"),         
        flights.minute.cast("float")
    )

In [16]:
flights.dtypes

[('year', 'float'),
 ('month', 'float'),
 ('day', 'float'),
 ('dep_time', 'float'),
 ('dep_delay', 'float'),
 ('arr_time', 'float'),
 ('arr_delay', 'float'),
 ('carrier', 'string'),
 ('tailnum', 'string'),
 ('flight', 'string'),
 ('origin', 'string'),
 ('dest', 'string'),
 ('air_time', 'float'),
 ('distance', 'float'),
 ('hour', 'float'),
 ('minute', 'float')]

In [17]:
# Add duration_hrs

flights = flights.withColumn("duration_hrs",flights.air_time/60)

# Filtering Data
# Filter flights with a SQL string
long_flights1 = flights.filter("distance > 1000")

# Examine the data to check they're equal
print(long_flights1.show())

+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|  year|month| day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|      duration_hrs|
+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|2014.0|  1.0|22.0|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|  2677.0|10.0|  40.0|               6.0|
|2014.0|  4.0|19.0|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|  1050.0|12.0|  36.0|              2.25|
|2014.0| 11.0|19.0|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|  1721.0|18.0|  12.0|               3.3|
|2014.0|  8.0| 3.0|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|  1107.0|11.0|  20.0| 2.566666666666667|
|2014.0| 11.0|12.0|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|  1448.0|23.0|  46.0|              3.05|
|2014.0|  8.0|11.0|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|  1733.0|10.0|  17.0|               3.6|
|2014.0|  1.0|13.0|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|  2496.0|21.0|  56.0| 4.833333333333333|
|2014.0|  9.0|26.0|   610.0|     -5.0|  1523.0|     65.0|     US| N127UW|   616|   SEA| PHL|   293.0|  2378.0| 6.0|  10.0| 4.883333333333334|
|2014.0| 12.0| 4.0|   954.0|     -6.0|  1348.0|    -17.0|     HA| N395HA|    29|   SEA| OGG|   333.0|  2640.0| 9.0|  54.0|              5.55|
|2014.0|  6.0| 4.0|  1115.0|      0.0|  1346.0|     -3.0|     AS| N461AS|   488|   SEA| SAN|   133.0|  1050.0|11.0|  15.0| 2.216666666666667|
|2014.0|  6.0|26.0|  2054.0|     -1.0|  2318.0|     -6.0|     B6| N590JB|   907|   SEA| ANC|   179.0|  1448.0|20.0|  54.0|2.9833333333333334|
|2014.0|  6.0| 7.0|  1823.0|     -7.0|  2112.0|    -28.0|     AS| N512AS|   815|   SEA| LIH|   335.0|  2701.0|18.0|  23.0| 5.583333333333333|
|2014.0|  4.0|30.0|   801.0|      1.0|  1757.0|     90.0|     AS| N407AS|    18|   SEA| MCO|   342.0|  2554.0| 8.0|   1.0|               5.7|
|2014.0| 11.0|29.0|   905.0|    155.0|  1655.0|    170.0|     DL| N824DN|  1598|   SEA| ATL|   229.0|  2182.0| 9.0|   5.0| 3.816666666666667|
|2014.0|  6.0| 2.0|  2222.0|      7.0|    55.0|     15.0|     AS| N402AS|    99|   SEA| ANC|   190.0|  1448.0|22.0|  22.0|3.1666666666666665|
|2014.0| 11.0|15.0|  1034.0|     -6.0|  1414.0|    -26.0|     AS| N589AS|   794|   SEA| ABQ|   139.0|  1180.0|10.0|  34.0| 2.316666666666667|
|2014.0| 10.0|20.0|  1328.0|     -1.0|  1949.0|      4.0|     UA| N68805|  1212|   SEA| IAH|   228.0|  1874.0|13.0|  28.0|               3.8|
|2014.0| 12.0|16.0|  1500.0|      0.0|  1906.0|     19.0|     US| N662AW|   500|   SEA| PHX|   151.0|  1107.0|15.0|   0.0|2.5166666666666666|
|2014.0| 11.0|19.0|  1319.0|     -6.0|  1821.0|    -14.0|     DL| N309US|  2164|   PDX| MSP|   169.0|  1426.0|13.0|  19.0| 2.816666666666667|
|2014.0|  5.0|21.0|   515.0|      0.0|   757.0|      0.0|     US| N172US|   593|   SEA| PHX|   143.0|  1107.0| 5.0|  15.0|2.3833333333333333|
+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
only showing top 20 rows

None

In [18]:
####Selecting####

# Select the first set of columns
selected1 = flights.select("tailnum","origin","dest")

# Select the second set of columns
temp = flights.select(flights.origin, flights.dest, flights.carrier)

# Define first filter
filterA = flights.origin == "SEA"

# Define second filter
filterB = flights.dest == "PDX"

# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)

In [19]:
#####Selecting II#####

# Define avg_speed
avg_speed = (flights.distance/(flights.air_time/60)).alias("avg_speed")

# Select the correct columns
speed1 = flights.select("origin", "dest", "tailnum", "avg_speed")

# Create the same table using a SQL expression
speed2 = flights.selectExpr("origin", "dest", "tailnum", "distance/(air_time/60) as avg_speed")

In [21]:
# Find the longest flight from SEA in terms of duration
flights.filter(flights.origin == 'SEA').groupBy().max('air_time').show()

+-------------+
|max(air_time)|
+-------------+
|        409.0|
+-------------+

In [22]:
#####Aggregating II#####

# Average duration of Delta flights
flights.filter(flights.carrier == 'DL').filter(flights.origin == 'SEA').groupBy().avg('air_time').show()

# Total hours in the air
flights.withColumn("duration_hrs", flights.air_time/60).groupBy().sum('duration_hrs').show()

+------------------+
|     avg(air_time)|
+------------------+
|188.20689655172413|
+------------------+

+------------------+
| sum(duration_hrs)|
+------------------+
|25289.600000000126|
+------------------+

In [23]:
#####Grouping and Aggregating I#####

# Group by tailnum
by_plane = flights.groupBy("tailnum")

# Number of flights each plane made
by_plane.count().show()

# Group by origin
by_origin = flights.groupBy("origin")

# Average duration of flights from PDX and SEA
by_origin.avg("air_time").show()

+-------+-----+
|tailnum|count|
+-------+-----+
| N442AS|   38|
| N102UW|    2|
| N36472|    4|
| N38451|    4|
| N73283|    4|
| N513UA|    2|
| N954WN|    5|
| N388DA|    3|
| N567AA|    1|
| N516UA|    2|
| N927DN|    1|
| N8322X|    1|
| N466SW|    1|
|  N6700|    1|
| N607AS|   45|
| N622SW|    4|
| N584AS|   31|
| N914WN|    4|
| N654AW|    2|
| N336NW|    1|
+-------+-----+
only showing top 20 rows

+------+------------------+
|origin|     avg(air_time)|
+------+------------------+
|   SEA| 160.4361496051259|
|   PDX|137.11543248288737|
+------+------------------+

In [24]:
####Grouping and Aggregating II####

# Import pyspark.sql.functions as F
import pyspark.sql.functions as F

# Group by month and dest
by_month_dest = flights.groupBy('month','dest')

# Average departure delay by month and destination
by_month_dest.avg('dep_delay').show()

# Standard deviation
by_month_dest.agg(F.stddev('dep_delay')).show()

+-----+----+------------------+
|month|dest|    avg(dep_delay)|
+-----+----+------------------+
|  3.0| SLC|10.923076923076923|
|  8.0| RDM|             -0.25|
| 11.0| COS|              23.0|
|  4.0| SBA|              -6.6|
|  9.0| SNA|              -2.0|
|  8.0| SNA|0.2222222222222222|
| 12.0| IAH|              12.8|
|  4.0| RNO|              17.4|
|  3.0| MIA|10.166666666666666|
|  9.0| KTN|              -6.0|
|  9.0| MKE|              -1.0|
| 12.0| EWR|2.1666666666666665|
|  7.0| MKE|              16.0|
| 12.0| TPA|             -1.25|
|  7.0| RDM|              -1.0|
| 12.0| HDN|              40.0|
| 12.0| PDX|               6.4|
|  7.0| MCO|              67.0|
| 11.0| LIH|13.833333333333334|
|  6.0| SAN|             -0.92|
+-----+----+------------------+
only showing top 20 rows

+-----+----+----------------------+
|month|dest|stddev_samp(dep_delay)|
+-----+----+----------------------+
|  3.0| SLC|    27.849581510022748|
|  8.0| RDM|     9.617692030835672|
| 11.0| COS|     35.35533905932738|
|  4.0| SBA|     2.880972058177587|
|  9.0| SNA|     6.988085097745541|
|  8.0| SNA|    12.360066416895394|
| 12.0| IAH|    27.990304443809517|
|  4.0| RNO|     33.70904923013997|
|  3.0| MIA|    25.561038059254688|
|  9.0| KTN|    2.9154759474226504|
|  9.0| MKE|                   NaN|
| 12.0| EWR|     7.884584115009914|
|  7.0| MKE|    5.5677643628300215|
| 12.0| TPA|     6.551081335677848|
|  7.0| RDM|      8.73212459828649|
| 12.0| HDN|                   NaN|
| 12.0| PDX|    35.738734488746836|
|  7.0| MCO|     59.90826320300064|
| 11.0| LIH|     45.85375302706057|
|  6.0| SAN|    13.558269309416549|
+-----+----+----------------------+
only showing top 20 rows

In [25]:
####Joining####
# Examine the data
print(airports.show())

# Rename the faa column
airports = airports.withColumnRenamed("faa", "dest")

# Join the DataFrames
flights_with_airports = flights.join(airports,on='dest',how="leftouter")

# Examine the data again
print(flights_with_airports.show())

+---+--------------------+----------------+-----------------+----+---+---+
|faa|                name|             lat|              lon| alt| tz|dst|
+---+--------------------+----------------+-----------------+----+---+---+
|04G|   Lansdowne Airport|      41.1304722|      -80.6195833|1044| -5|  A|
|06A|Moton Field Munic...|      32.4605722|      -85.6800278| 264| -5|  A|
|06C| Schaumburg Regional|      41.9893408|      -88.1012428| 801| -6|  A|
|06N|     Randall Airport|       41.431912|      -74.3915611| 523| -5|  A|
|09J|Jekyll Island Air...|      31.0744722|      -81.4277778|  11| -4|  A|
|0A9|Elizabethton Muni...|      36.3712222|      -82.1734167|1593| -4|  A|
|0G6|Williams County A...|      41.4673056|      -84.5067778| 730| -5|  A|
|0G7|Finger Lakes Regi...|      42.8835647|      -76.7812318| 492| -5|  A|
|0P2|Shoestring Aviati...|      39.7948244|      -76.6471914|1000| -5|  U|
|0S9|Jefferson County ...|      48.0538086|     -122.8106436| 108| -8|  A|
|0W3|Harford County Ai...|      39.5668378|      -76.2024028| 409| -5|  A|
|10C|  Galt Field Airport|      42.4028889|      -88.3751111| 875| -6|  U|
|17G|Port Bucyrus-Craw...|      40.7815556|      -82.9748056|1003| -5|  A|
|19A|Jackson County Ai...|      34.1758638|      -83.5615972| 951| -4|  U|
|1A3|Martin Campbell F...|      35.0158056|      -84.3468333|1789| -4|  A|
|1B9| Mansfield Municipal|      42.0001331|      -71.1967714| 122| -5|  A|
|1C9|Frazier Lake Airpark|54.0133333333333|-124.768333333333| 152| -8|  A|
|1CS|Clow Internationa...|      41.6959744|      -88.1292306| 670| -6|  U|
|1G3|  Kent State Airport|      41.1513889|      -81.4151111|1134| -4|  A|
|1OH|     Fortman Airport|      40.5553253|      -84.3866186| 885| -5|  U|
+---+--------------------+----------------+-----------------+----+---+---+
only showing top 20 rows

None
+----+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
|dest|  year|month| day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|air_time|distance|hour|minute|      duration_hrs|                name|      lat|        lon| alt| tz|dst|
+----+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
| LAX|2014.0| 12.0| 8.0|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA|   132.0|   954.0| 6.0|  58.0|               2.2|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
| HNL|2014.0|  1.0|22.0|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA|   360.0|  2677.0|10.0|  40.0|               6.0|       Honolulu Intl|21.318681|-157.922428|  13|-10|  N|
| SFO|2014.0|  3.0| 9.0|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA|   111.0|   679.0|14.0|  43.0|              1.85|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SJC|2014.0|  4.0| 9.0|  1705.0|     45.0|  1839.0|     34.0|     WN| N360SW|   344|   PDX|    83.0|   569.0|17.0|   5.0|1.3833333333333333|Norman Y Mineta S...|  37.3626|-121.929022|  62| -8|  A|
| BUR|2014.0|  3.0| 9.0|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA|   127.0|   937.0| 7.0|  54.0|2.1166666666666667|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
| DEN|2014.0|  1.0|15.0|  1037.0|      7.0|  1352.0|      2.0|     WN| N646SW|    48|   PDX|   121.0|   991.0|10.0|  37.0|2.0166666666666666|         Denver Intl|39.861656|-104.673178|5431| -7|  A|
| OAK|2014.0|  7.0| 2.0|   847.0|     42.0|  1041.0|     51.0|     WN| N422WN|  1520|   PDX|    90.0|   543.0| 8.0|  47.0|               1.5|Metropolitan Oakl...|37.721278|-122.220722|   9| -8|  A|
| SFO|2014.0|  5.0|12.0|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA|    98.0|   679.0|16.0|  55.0|1.6333333333333333|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SAN|2014.0|  4.0|19.0|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA|   135.0|  1050.0|12.0|  36.0|              2.25|      San Diego Intl|32.733556|-117.189667|  17| -8|  A|
| ORD|2014.0| 11.0|19.0|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA|   198.0|  1721.0|18.0|  12.0|               3.3|  Chicago Ohare Intl|41.978603| -87.904842| 668| -6|  A|
| LAX|2014.0| 11.0| 8.0|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA|   130.0|   954.0|16.0|  53.0|2.1666666666666665|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
| PHX|2014.0|  8.0| 3.0|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA|   154.0|  1107.0|11.0|  20.0| 2.566666666666667|Phoenix Sky Harbo...|33.434278|-112.011583|1135| -7|  N|
| LAS|2014.0| 10.0|30.0|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA|   127.0|   867.0| 8.0|  11.0|2.1166666666666667|      Mc Carran Intl|36.080056| -115.15225|2141| -8|  A|
| ANC|2014.0| 11.0|12.0|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA|   183.0|  1448.0|23.0|  46.0|              3.05|Ted Stevens Ancho...|61.174361|-149.996361| 152| -9|  A|
| SFO|2014.0| 10.0|31.0|  1314.0|     89.0|  1544.0|    111.0|     AS| N713AS|   306|   SEA|   129.0|   679.0|13.0|  14.0|              2.15|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SFO|2014.0|  1.0|29.0|  2009.0|      3.0|  2159.0|      9.0|     UA| N27205|  1458|   PDX|    90.0|   550.0|20.0|   9.0|               1.5|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
| SMF|2014.0| 12.0|17.0|  2015.0|     50.0|  2150.0|     41.0|     AS| N626AS|   368|   SEA|    76.0|   605.0|20.0|  15.0|1.2666666666666666|     Sacramento Intl|38.695417|-121.590778|  27| -8|  A|
| MDW|2014.0|  8.0|11.0|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA|   216.0|  1733.0|10.0|  17.0|               3.6| Chicago Midway Intl|41.785972| -87.752417| 620| -6|  A|
| BOS|2014.0|  1.0|13.0|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA|   290.0|  2496.0|21.0|  56.0| 4.833333333333333|General Edward La...|42.364347| -71.005181|  19| -5|  A|
| BUR|2014.0|  6.0| 5.0|  1733.0|    -12.0|  1945.0|    -10.0|     OO| N215AG|  3488|   PDX|   111.0|   817.0|17.0|  33.0|              1.85|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
+----+------+-----+----+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
only showing top 20 rows

None